## Понимание метода Pandas .to_dict()

In [1]:
# Понимание метода .to_dict() в Pandas
import pandas as pd

# Создание пустого DataFrame
df = pd.DataFrame()

# Преобразование DataFrame в словарь с помощью метода .to_dict()
# Параметры метода:
# - orient: ориентация словаря (в данном случае 'dict' - словарь, ключами которого являются столбцы, а значениями - словари с индексами и значениями)
# - into: тип словаря, в который будет выполнено преобразование (в данном случае <class 'dict'> - обычный словарь Python)
df.to_dict(orient='dict', into=dict)

{}

## Загрузка образца DataFrame Pandas

In [2]:
# Создание DataFrame с данными о имени, возрасте и оценке
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})

print(df)

   Name  Age  Score
0   Nik   33     90
1  Evan   32     95
2  Kate   33    100

## Преобразование фрейма данных Pandas в словарь

In [3]:
# Преобразование DataFrame в словарь в Pandas
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})

print(df.to_dict())

{'Name': {0: 'Nik', 1: 'Evan', 2: 'Kate'}, 'Age': {0: 33, 1: 32, 2: 33}, 'Score': {0: 90, 1: 95, 2: 100}}

## Преобразование DataFrame Pandas в словарь значений столбцов

In [4]:
# Преобразование DataFrame в словарь, содержащий значения столбцов в списке
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})

print(df.to_dict('list'))

{'Name': ['Nik', 'Evan', 'Kate'], 'Age': [33, 32, 33], 'Score': [90, 95, 100]}

## Преобразование фрейма данных Pandas в словарь значений рядов

In [5]:
# Convert a Pandas DataFrame to a Dictionary of Series Values
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})

print(df.to_dict('series'))

{'Name': 0     Nik
1    Evan
2    Kate
Name: Name, dtype: object, 'Age': 0    33
1    32
2    33
Name: Age, dtype: int64, 'Score': 0     90
1     95
2    100
Name: Score, dtype: int64}

## Преобразование таблицы данных Pandas в индекс словаря, столбцы и данные

In [7]:
# Преобразование DataFrame в словарь, содержащий индекс, названия столбцов и данные
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})

print(df.to_dict('split'))

{'index': [0, 1, 2], 'columns': ['Name', 'Age', 'Score'], 'data': [['Nik', 33, 90], ['Evan', 32, 95], ['Kate', 33, 100]]}

Чтобы расширить эту функциональность, вы также можете передать в метод значение 'tight', чтобы получить более подробный словарь. Полученный словарь также включает названия индексов и столбцов, если они были указаны отдельно.

In [8]:
# Преобразование DataFrame Pandas в словарь индекса, столбцов и данных (часть 2)
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})

print(df.to_dict('tight'))

{'index': [0, 1, 2], 'columns': ['Name', 'Age', 'Score'], 'data': [['Nik', 33, 90], ['Evan', 32, 95], ['Kate', 33, 100]], 'index_names': [None], 'column_names': [None]}

## Преобразование фрейма данных Pandas в список словарей

In [9]:
# Преобразование DataFrame в список словарей
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})

print(df.to_dict('records'))

[{'Name': 'Nik', 'Age': 33, 'Score': 90}, {'Name': 'Evan', 'Age': 32, 'Score': 95}, {'Name': 'Kate', 'Age': 33, 'Score': 100}]

Полученный список будет упорядочен в соответствии с текущим порядком DataFrame. Если вам нужно включить индекс в словари, вы можете сначала сбросить индекс DataFrame. Это позволит включить индекс в список словарей:

In [10]:
# Преобразование DataFrame в список словарей с индексами
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})
df.reset_index(inplace=True)  # Сброс индексов исходного DataFrame
print(df.to_dict('records'))

[{'index': 0, 'Name': 'Nik', 'Age': 33, 'Score': 90}, {'index': 1, 'Name': 'Evan', 'Age': 32, 'Score': 95}, {'index': 2, 'Name': 'Kate', 'Age': 33, 'Score': 100}]

## Преобразование фрейма данных Pandas в словарь индексов и значений

In [11]:
# Преобразование DataFrame в словарь с индексами и значениями
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})

print(df.to_dict('index'))

{0: {'Name': 'Nik', 'Age': 33, 'Score': 90}, 1: {'Name': 'Evan', 'Age': 32, 'Score': 95}, 2: {'Name': 'Kate', 'Age': 33, 'Score': 100}}

## Преобразование двух серий (столбцов) Pandas в словарь

In [12]:
# Преобразование двух столбцов DataFrame в словарь
df = pd.DataFrame({
    'Name': ['Nik', 'Evan', 'Kate'],
    'Age': [33, 32, 33],
    'Score': [90, 95, 100]
})

# Использование функции zip для создания словаря, где ключами будут значения из столбца 'Name', а значениями - из столбца 'Age'
ages = dict(zip(df['Name'], df['Age']))
print(ages)

{'Nik': 33, 'Evan': 32, 'Kate': 33}